/*2014-01-13*/
body{width:100%;margin:50px auto;padding:0;font-family:Arial,Sans-serif}
.container{width:50%;margin:0 auto}
.pri-table{position:relative;z-index:2;width:100%;margin:0;padding:0;list-style:none}
.item{position:relative;display:inline-block;*float:left;width:19%;margin:0;padding:0;text-align:center;border:1px solid #d3d3d3;background-color:#fdfcfa;transition:all 200ms ease-in 0s;}
.item:hover{left:2%;width:23%;margin:0 -2%}
.item > h1{display:inline-block;width:100%;margin:0;padding:20px 0;font-size:22px;color:#444;border-bottom:1px solid #efefed}
.item > .btn{margin:0;padding:0;border-top:1px solid #efefed;background-color:#faf9f7;}
.item > .btn > a{display:inline-block;margin:12px 0;padding:12px 32px;font-size:14px;font-style:italic;color:#252525;border:1px solid rgba(200,200,200,0.5)}
.item-price{width:100%;margin:0;padding:10px 0;font-size:14px;font-style:italic;color:#888;border-bottom:1px solid #efefed;background-color:#fbfaf8}
.item-desc{margin:0;padding:20px;font-size:12px;color:#444}
.item-spec{width:80%;margin:0 auto 30px;padding:0;font-size:12px;color:#858483;list-style:none;}
.item-spec > li{margin:0;padding:10px 0;border-bottom:1px dashed #dedddc;}
.item-spec > li:first-child{border-top:1px dashed #dedddc}
