/*2014-01-14*/
body{width:100%;margin:0 auto;padding:0;font-family:Arial,Sans-serif}
.l-hd{background-color:#f0f0f0;}
.l-hd > div{padding:10px}
.logo{text-align:center;}
.logo > a{color:#141414;text-decoration:none;-webkit-transition:all 300ms ease-in 0s;transition:all 300ms ease-in 0s;}
.logo > a:hover{color:#c81464}
.l-mn{background-color:#ebebeb;}
.l-mn > div{padding:10px}
.container{width:50%;margin:0 auto}
.pri-table{position:relative;margin:0;padding:0;list-style:none;}
.pri-table:after,.pri-table:before{content:" ";display:table}
.pri-table:after{clear:both}
.item{position:relative;float:left;width:20%;margin:0;padding:0;text-align:center;border:1px solid #d3d3d3;background-color:#fdfcfa;-webkit-transition:all 200ms ease-in 0s;transition:all 200ms ease-in 0s;-moz-box-sizing:border-box;box-sizing:border-box;}
.item:hover{z-index:2;width:24%;margin:-2%;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 8px 0 #282828;box-shadow:0 0 8px 0 #282828;-webkit-transition:all 200ms ease-in 0s;transition:all 200ms ease-in 0s}
.item > h1{display:inline-block;width:100%;margin:0;padding:20px 0;font-size:22px;color:#444;border-bottom:1px solid #efefed}
.item > .btn{margin:0;padding:0;border-top:1px solid #efefed;background-color:#faf9f7;}
.item > .btn > a{display:inline-block;margin:12px 0;padding:12px 32px;font-size:14px;font-style:italic;color:#252525;text-decoration:none;border:1px solid rgba(200,200,200,0.5);-webkit-border-radius:30px;border-radius:30px;background:#f0faaa;background:-moz-linear-gradient(top,#f0faaa 0%,#e6dc7d 50%,#dcbe50 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0faaa),color-stop(50%,#e6dc7d),color-stop(100%,#dcbe50));background:-webkit-linear-gradient(top,#f0faaa 0%,#e6dc7d 50%,#dcbe50 100%);background:-o-linear-gradient(top,#f0faaa 0%,#e6dc7d 50%,#dcbe50 100%);background:-ms-linear-gradient(top,#f0faaa 0%,#e6dc7d 50%,#dcbe50 100%);background:linear-gradient(to bottom,#f0faaa 0%,#e6dc7d 50%,#dcbe50 100%);-webkit-transition:all 200ms ease-in 0s;transition:all 200ms ease-in 0s;}
.item > .btn > a:hover{background:#f5ffaf;background:-moz-linear-gradient(top,#f5ffaf 0%,#ebe182 50%,#e1c355 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5ffaf),color-stop(50%,#ebe182),color-stop(100%,#e1c355));background:-webkit-linear-gradient(top,#f5ffaf 0%,#ebe182 50%,#e1c355 100%);background:-o-linear-gradient(top,#f5ffaf 0%,#ebe182 50%,#e1c355 100%);background:-ms-linear-gradient(top,#f5ffaf 0%,#ebe182 50%,#e1c355 100%);background:linear-gradient(to bottom,#f5ffaf 0%,#ebe182 50%,#e1c355 100%);}
.item-price{width:100%;margin:0;padding:10px 0;font-size:14px;font-style:italic;color:#888;border-bottom:1px solid #efefed;background-color:#fbfaf8}
.item-desc{margin:0;padding:20px;font-size:12px;color:#444}
.item-spec{width:80%;margin:0 auto 30px;padding:0;font-size:12px;color:#858483;list-style:none;}
.item-spec > li{margin:0;padding:10px 0;border-bottom:1px dashed #dedddc;}
.item-spec > li:first-child{border-top:1px dashed #dedddc}
.l-ft{background-color:#e6e6e6;}
.l-ft > div{padding:10px;}
.l-ft > div > p{text-align:center}
