doctype html
html
	head
		meta(charset="utf-8")
		title Pricing table
		link(rel="stylesheet", type="text/css", href="css/index.css")
	body
		header.l-hd
			div.container
				h1.logo
					a(href="#") Pricing table
		main.l-mn
			div.container
				ul.pri-table
					li.item
						h1 Standard
						p.item-price $40 per month
						p.item-desc Perfect for those getting started width our app.
						ul.item-spec
							li 15 projects
							li 5 Gb Storage
							li Unlimited Users
							li No Time Tracking
							li Enhanced Security
						div.btn
							a(href="#") Sign up
					li.item
						h1 Premium
						p.item-price $60 per month
						p.item-desc Perfect for those getting started width our app.
						ul.item-spec
							li 15 projects
							li 5 Gb Storage
							li Unlimited Users
							li No Time Tracking
							li Enhanced Security
						div.btn
							a(href="#") Sign up
					li.item
						h1 Professional
						p.item-price $80 per month
						p.item-desc Perfect for those getting started width our app.
						ul.item-spec
							li 15 projects
							li 5 Gb Storage
							li Unlimited Users
							li No Time Tracking
							li Enhanced Security
						div.btn
							a(href="#") Sign up
					li.item
						h1 Plus
						p.item-price $100 per month
						p.item-desc Perfect for those getting started width our app.
						ul.item-spec
							li 15 projects
							li 5 Gb Storage
							li Unlimited Users
							li No Time Tracking
							li Enhanced Security
						div.btn
							a(href="#") Sign up
					li.item
						h1 Maxmium
						p.item-price $120 per month
						p.item-desc Perfect for those getting started width our app.
						ul.item-spec
							li 15 projects
							li 5 Gb Storage
							li Unlimited Users
							li No Time Tracking
							li Enhanced Security
						div.btn
							a(href="#") Sign up
		footer.l-ft
			div.container
				p &copy; 2014 Pricing table